fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
pytest==8.0.0
httpx==0.27.0
deepface
tf-keras
opencv-python-headless
xgboost
scikit-learn
networkx
psycopg2-binary
alembic
slowapi
sentry-sdk
python-multipart
